name: Build & Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: Build and Push Images
    runs-on: ubuntu-latest

    steps:
      # -----------------------------
      # Checkout repository
      # -----------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # -----------------------------
      # Login to Docker Hub
      # -----------------------------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      

      # -----------------------------
      # Build & Push Backend Image
      # -----------------------------
      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./Backend
          file: ./Backend/Dockerfile
          push: true
          tags: |
            bhargavbb/backend:latest
            bhargavbb/backend:${{ github.sha }}

      # -----------------------------
      # Build & Push Frontend Image
      # -----------------------------
      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./Front-end
          file: ./Front-end/Dockerfile
          push: true
          tags: |
            bhargavbb/frontend:latest
            bhargavbb/frontend:${{ github.sha }}
