name: Build & Push Backend and Frontend Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # -------- BACKEND IMAGE --------
      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./Backend
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/attendance-backend:latest
            ${{ secrets.DOCKER_USERNAME }}/attendance-backend:${{ github.sha }}

      # -------- FRONTEND IMAGE --------
      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./Front-end
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/attendance-frontend:latest
            ${{ secrets.DOCKER_USERNAME }}/attendance-frontend:${{ github.sha }}
